@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
body {
  background-color: #25252a;
  color: #e9ecefff;
}

header {
  display: flex;
  align-items: center;
  background-color: #25252a;
  border: #e9ecefff;
  border-bottom: solid;
}
h1, h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2 {
    font-size: 25px;
}
a {
  font-family: "Bebas Neue", cursive;
  text-decoration-color: none;
  color: white;
  text-decoration-line: none;
}

p {
  font-family: monospace;
  font-size: 20px;
}
#welcome-section {
  text-align: center;
}
#profile-link {
  text-align: center;
  word-spacing: 1em;
}
#links {
  text-align: center;
}
#self-photo {
  border-radius: 40px;
  border-color: #25252a;
  width: 25%;
  border-width: 10px;
  opacity: 50%;
  color: #25252a;
}
#email {
    width: 50px;
    
}
.navbar {
  width: 100%;

  text-align: center;
}
.navbar a {
  font-size: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
}
.button {
  display: inline-block;
  align-items: center;
  border: none;
  opacity: 0.75;
  margin: 5px;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
  max-width: 20%;
  align-content: center;
  border-radius: 10px;
  border-style: solid;
  border-image-width: 5px;
  background-color: #25252a;
  opacity: 0.5;
}
